.app{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style:none;
  color: #fff;
}
.app .lis{
  margin-left: 10px;
  width: 50px;
  text-align: center;
  background: lightgreen;
}
.lis.active{
  background: hotpink;
}
.logo{
  width: 50px;
}
